.lesson {
    padding: 3vh;
    z-index: 104;
    background: rgba(0,0,0,0);
}
.lesson > form {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.lesson > form > button {
    margin: 5px 10px;
    border-radius: 50px;
    border-inline: none;
    border: none;
    transition: .2s;
}
.lesson > form > button:hover {
    background: #97ffee;
    cursor: pointer;
    transform: scale(1.1);
}
.h1 {
    width: 100%;
    text-align: center;
}
.films {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.onefilm {
    position: relative;
    width: 30%;
    margin: 15px auto;
    transition: .2s;
    text-align: center;
}
.onefilm a {
    text-decoration: none!important;
    color: black;
}
.onefilm:hover {
    transform: scale(1.02);
}
.onefilm a:visited {
    color: inherit;
}
.img {
    width: 100%;
}
.showOneFilmTitle_Img {
    display: flex;
    flex-direction: row;
}
.showOneFilmImg {
    width: 50%;
}
.showOneFilmTite {
    width: 50%;
    margin: 6% auto;
}
.showOneFilmImg > img{
    width: 50%;
    margin: 6% 25%;
}
.showOneFilmSummary {
    text-align: center;
    margin: 5%;
}
.showOneFilmTite > div {
    color: #35e5c5;
}
.showOneFilmTite span {
    color: #ffffff !important;
}