.films {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.onefilm {
    position: relative;
    width: 30%;
    margin: 15px auto;
    transition: .2s;
}
.onefilm a {
    text-decoration: none!important;
    color: black;
}
.onefilm:hover {
    transform: scale(1.02);
}
.onefilm a:visited {
    color: inherit;
}
.img {
    width: 100%;
}