.header {
    grid-area: h;
    background: rgb(255,0,0);
    background: linear-gradient(38deg, rgba(255,0,0,1) 0%, rgba(255,115,0,1) 56%, rgba(241,255,0,1) 100%);
    position: fixed;
    width: 1200px;
    border: 2px inset black;
    border-top: 0;
    border-radius: 40px;
    -webkit-box-shadow: 0px 6px 18px 11px rgba(144, 11, 11, 0.31);
    -moz-box-shadow: 0px 6px 18px 11px rgba(144, 11, 11, 0.31);
    box-shadow: 0px 6px 18px 11px rgba(144, 11, 11, 0.31);
    display: flex;
    z-index: 999;
}
@media screen and (max-device-width: 767px) {
    .header {
        width: 100%;
    }
}

.name {
    font-family: Ember, serif;
    font-size: xxx-large;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
.header img {

    display: block;
    margin: 3px;
    width: 5vh;
}
.area p {
    margin: 0;
}
.area {
    text-align: center;
    color: black;
    text-transform: uppercase;
    animation: blur 2.5s ease-out infinite;
    text-shadow: 0px 0px 5px red, 0px 0px 7px orange;
}

@keyframes blur {
    50% {
        text-shadow:0px 0px 10px #ee0a0a,
        0px 0px 10px #ee0a0a,
        0px 0px 20px #ee0a0a,
        0px 0px 25px #ee0a0a,
        0px 0px 25px rgba(255,115,0,1),
        0px 0px 50px rgba(255,115,0,1),
        0px 0px 50px rgba(255,115,0,1),
        0px 0px 150px yellow,
        0px 10px 100px yellow,
        0px 10px 100px yellow,
        0px 10px 100px yellow,
        0px 10px 100px yellow,
        0px -10px 100px yellow,
        0px -10px 100px yellow;
    }
}

.login {
    position: absolute;
    right: 2%;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translate(0,-55%);
    text-decoration: none;
    transition: 0.1s;
    user-select: none;
}
.linkLogin {
    cursor: pointer;
    text-decoration: none;
}
.login:hover {
    transform: translate(0,-55%) scale(1.2) ;
}