.profile {
    display: flex;
    margin: 5vh;
}

.stats {
    margin: 0 0 0 5vh;
}

.name {
    margin: 0;
}
.ulp {

}

.statitem {

}

.imgprofile {
    max-width: 150px;
    max-height: 150px;
    justify-content: flex-start;
    animation: rotation 0.3s;
    animation-delay: 2s;
    animation-iteration-count: 2;
}

.spotify {
    margin: auto;
}

.imgtop {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    max-height: 150px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes rotation {
50% {
    transform: rotate(20deg);
}
}

