.post {
    margin: 3vh 10vh 2vh 0;
    overflow: hidden;
    display: flex;
    border: 1px double darkgray;
    border-radius: 5vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.pdesc {
    margin: 0 0 0 3vh;
}

p {
    margin: 0;
}

.pimg {
    max-width: 300px;
}
.estimate {
    justify-content: center;
    margin: 2vh 4vh 2vh auto;
}
.like {
    display: block;
    margin: auto;
    border:1px solid lightseagreen!important;

}

.dislike {

    display: block;
    margin: 1vh auto;
    border:1px solid red!important;
}