.dialogs {
    padding: 2vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.delete {

}

.dialogs_items {}

.messages{
    display: flex;
    flex-direction: column;
    height: 600px;
}

.messageInput {
flex-grow: 1;
}

